importFrom(chipPCR, inder)
importFrom(robustbase, lmrob)

S3method(print,diffQobject)
S3method(print,diffQ2object)

export(diffQ,
       diffQ2,
       mcaPeaks,
       mcaSmoother,
       MFIerror
)

# Import all packages listed as Imports or Depends
# import(
#   robustbase
# )
